<html>
<head>
	<meta charset="UTF-8">
</head>

<table>
	<tr>
		<td>Id</td>
		<td>{{incident.id}}</td>
	</tr>
	<tr>
		<td>Código de Catálogo</td>
		<td>{{incident.catalogCode}}</td>
	</tr>
	<tr>
        <td>Fecha de reporte</td>
        <td>{{incident.reportDate}}</td>
    </tr>
    <tr>
        <td>Descripción</td>
        <td>{{incident.description}}</td>
    </tr>
    <tr>
        <td>Operador</td>
        <td>{{incident.operator}}</td>
    </tr>
    <tr>
        <td>Reportado por</td>
        <td>{{incident.reportedBy}}</td>
    </tr>
     <tr>
        <td>Fecha de Cierre</td>
        <td>{{incident.closingDate}}</td>
    </tr>
    <tr>
        <td>Motivo de rechazo</td>
        <td>{{incident.rejectedReason}}</td>
    </tr>
    <tr>
        <td>Estado</td>
        <td>{{incident.state}}</td>
    </tr>
    <tr>
        <td>Empleado asignado</td>
        <td>{{incident.employee}}</td>
    </tr>
</table>
</html>